.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  box-sizing: border-box;
}

.row {
  display: block;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
